<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Quotes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quoteapp/style.css' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    <link rel="stylesheet" href="{% static 'quoteapp/bootstrap.min.css' %}">
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'quoteapp:quote' %}" role="button" class="btn btn-primary">Add Quote</a></li>
            <li><a href="{% url 'quoteapp:add_author' %}" role="button" class="btn btn-primary">Add Author</a></li>
            <li><a href="{% url 'quoteapp:add_tag' %}" role="button" class="btn btn-primary">Add Tag</a></li>
            <li><a href="{% url 'quoteapp:my_quotes' %}" role="button" class="btn btn-primary">My Quotes</a></li>            
        </ul>
        <ul>
            <li>Welcome <b>{{ user.username }}!</b></li>
            <li><a href="{% url 'users:logout' %}" role="button" class="btn btn-primary">Logout</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="{% url 'users:signup' %}" role="button" class="btn btn-primary">Sign Up</a></li>
            <li><a href="{% url 'users:login' %}" role="button" class="btn btn-primary">Login</a></li>
        </ul>
        {% endif %}
    </nav>

    {% for quote in quotes %}
    
    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text">{{ quote.quote }}</span>
        <span><a href="{% url 'quoteapp:author' quote.author_id %}">{{ quote.author.fullname }}</a>
        </span>
        <div class="tags">
            Tags:
            {% for tag in quote.tags.all %}
            <a class="tag">{{ tag.name }}</a>
            {% endfor %}        
        </div>
    </div>
   
    {% endfor %}

</main>
</body>
</html>

