.alert-error, .errorlist {
    color: crimson;
}

.alert-success {
    color: green;
}

.scrollable-select {
    height: 150px;
    overflow-y: scroll;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Додає відступ між кнопками */
}

.btn {
    margin-left: 10px; /* Додає відступ між кнопками і текстом */
}


.messages {
    list-style-type: none; /* Видалити маркери списку */
    padding: 0; /* Видалити відступи */
    text-align: center; /* Центрувати текст */
}
.messages li {
    margin: 10px 0; /* Додати відступи між повідомленнями */
    padding: 10px; /* Додати внутрішні відступи */
    border: 1px solid #ccc; /* Додати рамку для стилю */
    border-radius: 5px; /* Зробити кути округлими */
}
.success {
    background-color: #d4edda; /* Фон для успішного повідомлення */
    color: #155724; /* Колір тексту для успішного повідомлення */
}
.error {
    background-color: #f8d7da; /* Фон для помилки */
    color: #721c24; /* Колір тексту для помилки */
}
.info {
    background-color: #d1ecf1; /* Фон для інформаційного повідомлення */
    color: #0c5460; /* Колір тексту для інформаційного повідомлення */
}
.warning {
    background-color: #fff3cd; /* Фон для попередження */
    color: #856404; /* Колір тексту для попередження */
}

/* Custom page CSS */
body {
    font-family: sans-serif;
    font-size: 16px;
  }
  
  .container .text-muted {
    margin: 20px 0;
  }
  
  .tags-box {
    text-align: right;
  }
  
  .tags-box h2 {
    margin-top: 0px;
  }
  
  .tag-item {
    display: block;
    margin: 4px;
  }
  
  a {
    color: #4582ec;
    text-decoration: none;
  }

  .quote {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
  }
  
  .quote small.author {
    font-weight: bold;
    color: #3677E8;
  }
  
  .quote span.text {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-style: italic;
  }
  
  .quote .tags {
    margin-top: 10px;
  }
  
  .tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
  }
  
  a.tag:hover {
    text-decoration: none;
  }
  
  /* Sticky footer styles */
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 6em;
    background-color: #f5f5f5;
  }
  
  .error {
    color: red;
  }
  
  .header-box {
    padding-bottom: 40px;
  }
  
  .header-box p {
    margin-top: 30px;
    float: right;
  }
  
  .author-details  {
    width: 80%;
  }
  
  .author-description {
    text-align: justify;
    margin-bottom: 20px;
  }
  
  ul.pager {
    margin-bottom: 100px;
  }
  
  .copyright {
    text-align: center;
  }
  
  .zyte {
    color: #b02cce;
  }